/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Entête de la page */
header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 30px;
}

/* Formulaire de réservation */
.booking-form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.booking-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.booking-form input, .booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.booking-form button:hover {
    background-color: #45a049;
}

a.active {
    color: #ff6600;
    font-weight: bold;
    text-decoration: underline;
  }
  
